button {
  margin: 0.5rem;
}

div.row.buttons {
  text-align: right;
}

div.panel-body>div.row.content {
  padding-left: 8px;
}

div.panel {
  border: 1px solid cornflowerblue;
  padding: 8px;
}

app-pagination {
  text-align: center;
}
